.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 colonnes maintenant */
  grid-template-rows: repeat(4, 1fr); /* 4 lignes, si vous voulez le spécifier explicitement */
  gap: 10px; /* Espace entre les cartes */
  margin: 20px auto;
  max-width: 600px; /* Assurez-vous que ceci est suffisant pour 5 cartes + espacement */
}

.card {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc((600px - (4 * 10px)) / 5); /* hauteur ajustée pour 5 cartes par ligne */
  width: calc((600px - (4 * 10px)) / 5); /* largeur ajustée pour 5 cartes par ligne */
  /* ... */
  border-radius: 8px;
  transition: transform 0.6s;
}


.card.is-flipped .card-inner {
  transform: rotateY(180deg); /* Tourne la carte pour montrer le dos */
}

.card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
}

.card.is-flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  backface-visibility: hidden; /* Cache la face arrière lorsqu'elle n'est pas tournée vers l'utilisateur */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  width: 100px; /* Exemple de largeur */
  height: 100px;
}
.card-front {
  background-color: lightblue; /* Couleur temporaire pour tester l'affichage */
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-back {
  transform: rotateY(180deg); /* Fait en sorte que la face arrière soit dans le bon sens lorsqu'elle est tournée */
  content: 'Test Back';
  color: white;
}

.card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg); /* Assurez-vous que cela est cohérent avec le reste de votre CSS */
}

.card-back img {
  max-width: 90%; /* Ajustez en fonction de la taille de vos cartes */
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
}

.card-back img:hover {
  transform: scale(1.05); /* Effet de zoom au survol */
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (max-width: 600px) {
  .board {
    grid-template-columns: repeat(3, 1fr); /* Adaptation pour les petits écrans */
  }
  

  .card {
    height: 80px; /* Cartes légèrement plus petites */
  }
}